h1 {
    text-align: center;
  }
  
h3 {
    text-align: center;
  }
body {
    background-image: url("../img/twerking2.jpg");
    background-size : cover;
    background-repeat : no-repeat;
}

div {
    color: white;
    -webkit-text-stroke: 1px black;
}
