
h2 {
    text-align: center;
  }
body {
    background-image: url("../img/backgroundFrases.jpg");
    background-size : cover;
    background-repeat : no-repeat;
}

div {
  display: flex;
  justify-content: right;
  color: white;
  min-height: 240px;
  align-items: center;
  padding-right: 2em;
}
